<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "style.css" | relURL }}">
</head>
<body>
    <header class="header">
        <h1>vincent homepage</h1>
        <nav class="nav">
            <a href="/">主页</a>
            <a href="/posts">目录</a>
            <a href="mailto:your-email@example.com">邮件</a>
        </nav>
    </header>

    <main>
        <section id="projects">
            <h2>活跃博文</h2>
            <ul class="project-list">
                {{ range (where .Site.RegularPages "Section" "posts") }}
                <li class="project-item">
                    <span>
                        <a href="{{ .Permalink }}">{{ .File.TranslationBaseName }}.md</a> 
                        <span class="status-tag">git</span>
                    </span>
                    <span class="project-desc">{{ .Date.Format "2006-01-02" }}</span>
                </li>
                {{ end }}
            </ul>
        </section>

        <section id="status">
            <h2>balabala</h2>
            <div class="code-block">
     版权所有 © 2026 Vincent
            </div>
        </section>
    </main>
</body>
</html>
